.App {
    text-align: center;

    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "header header header"
                        "left main right"
                        ". . ."
                        "footer footer footer";
}

header {
    background-color: gray;
    grid-area: header
}

.left{
    grid-area : left
}

.right {
    grid-area : right
}

.context {
    grid-area: main;
}

footer {
    grid-area: footer;
}